ul {
  display: grid;
  justify-content: center;
  gap: 1em;
  li {
    list-style: none;
    width: 70vw;
    border: 2px solid #b96a15;
    overflow: hidden;
    border-radius: 2em;
    background-color: #54242a;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
    }
    .content {
      p {
        padding-bottom: 0.5em;
        margin: 0;
        color: white;
        font-size: 1em;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}
